<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/create.css" />
  <title>Document</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>

    <div class="cuadroNegro" id="negro"></div>
    <div class="contenedor-create">
      <% if(locals.errores && errores.name)  {%>
        <p><%= errores.name %></p>
    <% } %>
       

      <h1>Bienvenido al area de carga de productos</h1>
      <div class="formulario-create" id="create">
        <div class="izquierda-create">
          <img src="/images/logo2.png" width="200px" height="200px" />
        </div>
        <form class="derecha-create" action="/products" method="POST" enctype="multipart/form-data">
          <span class="titulo">Nuevo producto</span>
          <div class="form-section">
            <input type="text" placeholder="Nombre del producto" name="titulo" class="textBox-1" id="nombreDeProducto"
              value="<%= locals.old && old.titulo ? old.titulo : "" %>" />
          </div>
          <div class="form-section">
            <textarea id="descripcion" name="descripcion" placeholder="Descripcion"></textarea>
          </div>
          <div class="form-section" id="precio-img">
            <input type="number" id="precio" name="precio" placeholder="Precio" value="<%= locals.old && old.precio ? old.precio : "" %>" />
            <input type="number" id="descueto" name="descuento" placeholder="Descuento" value="<%= locals.old && old.descuento ? old.descuento : "" %>"/>
            <input type="number" id="cuota" name="cuotas" placeholder="cuota" value="<%= locals.old && old.cuotas ? old.cuotas : "" %>"/>
          </div>
          <div class="form-section" id="img">
            <input class="agregarImg" name="img" type="file"></input>
          </div>
          <div class="form-section" id="color">
            <span>Subcategoria:</span>
            <select name="subcategoria" >
              <option value="">Elija una subcategoria</option>
              <option value="1" >Mesa</option>
              <option value="2" >Camas</option>
              <option value="3">Escritorios</option>
              <option value="4" >Sillon</option>
              <option value="5" >Microondas</option>
              <option value="6" >Televisores</option>
              <option value="7" >Lavarropas</option>
              <option value="8" >Cafeteras</option>
            </select>
          </div>
          <div class="form-section">
            <button type="submit" class="agregar">Agregar producto</button>
          </div>
        </form>
      </div>
    </div>


    <!-- <script>
      function mostrarPopup() {
        document.getElementById("create").style.display = "flex";
        document.getElementById("negro").style.display = "block";
      }

      function mostrarElectro() {
        document.getElementById("create-electro").style.display = "flex";
        document.getElementById("negro").style.display = "block";
      }

      function cancel() {
        document.getElementById("create").style.display = "none";
        document.getElementById("negro").style.display = "none";
      }
    </script> -->

    <%- include('./partials/footer')%>
</body>

</html>