<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formulario.css" />
    <title>Registro</title>
  </head>

  <body>
    <%- include('./partials/header')%>

    <div class="contenedor">
      <% if (locals && locals.errores) { %>
        <div class="errors-formul">
          <% for( let error in errores ) { %>
            <p class="form-check-error">&bull; <%= errores[error].msg %></p>
          <% } %>
        </div>
        <% } %>
        <% if (locals.error && error.msg) { %>
          <div class="errors-formul">
            <p class="form-check-error">&bull; <%= error.msg %>.
            Haga <a href="/login">click aquí</a> si desea ir a Ingresar</p>
          </div>
        <% } %>

      <form class="formularioRegister" action="/register" method="POST">
        <h1>Crea tu cuenta</h1>

        <!-- <div class="foto-perfil">
          <img src="/images/notProfile.jpg" width="100" height="100px">
          <label for="fotoPerfil">Subir imagen</label>
          <input type="file" name="fotoPerfil" id="fotoPerfil"/>
        </div> -->
        <div class="medio">
          <div class="izquierda">
            <label for="nombre">Nombre:</label>
            <input type="text"  id="nombre" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>"/>
            <label for="email">Email:</label>
            <input type="email"  id="email" name="email"  value="<%= locals.old && old.email ? old.email : '' %>"/>
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contrasena" />
          </div>
          <div class="derecha">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>"/>
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name='telefono' value="<%= locals.old && old.telefono ? old.telefono : '' %>"/>
            <label for="fotoPerfil">Subir imagen</label>
          <input type="file" name="img" id="img"/>
          </div>
        </div>
        <div class="register-abajo">
          <button>Registrarme</button>
        </div>
      </form>
    </div>

    <%- include('./partials/footer')%>

  </body>
</html>
