<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyle.css">
    <title>Document</title>
</head>
<body>

    <%- include("./partials/header.ejs") %>

    <div class="card">
        <div class="basic-info">
            <div class="profile">
                <img src="/images/usersProfile/<%=usuario.img%>">
            </div>
            <div class="categoriaUs"><%=usuario.categoria%></div>
            <p class="nombreU"><%=usuario.nombre%> <%=usuario.apellido%></p> 
            <p class="emailU"><u>Correo:</u> <%=usuario.email%></p>
            <p class="Ubicacion">Ushuaia, Tierra del Fuego, Argentina</p>
            <div class="acercaDe">
                <p class="titulo">Acerca de</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fuga expedita reprehenderit et numquam nam consequatur dolore, provident alias, veritatis possimus ipsa deleniti officia aut cupiditate cum tenetur vero rerum.</p>
            </div>
            <a href="/logout"><div class="botonLogout">Cerrar sesión</div></a>
        </div>
    </div>

    <%- include('./partials/footer')%>

</body>
</html>