<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userStyle.css">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/formulario.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Document</title>
</head>

<body>

    <%- include("./partials/header.ejs") %>

        <div class="card">
            <div class="basic-info">
                <div class="profile">
                    <img src="/images/usersProfile/<%=usuario.img%>">
                </div>
                <div class="categoriaUs">
                    <%=usuario.categoria%>
                </div>
                <p class="nombreU">
                    <%=usuario.nombre%>
                        <%=usuario.apellido%>
                </p>
                <p class="emailU"><u>Correo:</u>
                    <%=usuario.email%>
                </p>
                <p class="Ubicacion">Ushuaia, Tierra del Fuego, Argentina</p>
                <div class="acercaDe">
                    <p class="titulo">Acerca de</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fuga expedita reprehenderit et
                        numquam nam consequatur dolore, provident alias, veritatis possimus ipsa deleniti officia aut
                        cupiditate cum tenetur vero rerum.</p>
                </div>
                <button class="editar" onclick="mostrarPopup()">Editar</button>
                <a href="/logout">
                    <div class="botonLogout">Cerrar sesión</div>
                </a>
            </div>
        </div>


        <div class="formulario-edit" id="edit">
            <form class="formularioRegister" action="/profile/edit/<%=usuario.usuario_id%>?_method=PUT" method="POST">
                <div class="medio">
                    <div class="izquierda">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre"
                            value="<%= usuario.nombre ? usuario.nombre : '' %>" />
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="<%= usuario.email ? usuario.email : '' %>" />
                        <label for="contraseña">Contraseña</label>
                        <input type="password" id="contraseña" name="contrasena" />
                    </div>
                    <div class="derecha">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido"
                            value="<%= usuario.apellido ? usuario.apellido : '' %>" />
                        <label for="telefono">Telefono:</label>
                        <input type="text" id="telefono" name='telefono'
                            value="<%= usuario.telefono ? usuario.telefono : '' %>" />
                    </div>
                </div>
                <div class="register-abajo">
                    <button type="submit">Actualizar</button>
                </div>
                <span class="agregar" id="cancel" onclick="cancel()">Cancelar</span>
            </form>
        </div>
        <div class="cuadroNegro" id="negro"></div>
        </div>

        </div>

        <%- include('./partials/footer')%>

            <script>
                function mostrarPopup() {
                    document.getElementById("edit").style.display = "flex";
                    document.getElementById("negro").style.display = "block";
                }
                function cancel() {
                    document.getElementById("edit").style.display = "none";
                    document.getElementById("negro").style.display = "none";
                }



                let form = document.querySelector('form.formularioRegister')
                let errores = []
                form.addEventListener('submit', function (event) {
                    errores = []
                    let nombre = document.querySelector('input#nombre')
                    if (nombre.value == '') {
                        errores.push('El campo Nombre no puede estar vacío.')
                    }

                    let apellido = document.querySelector('input#apellido')
                    if (apellido.value == '') {
                        errores.push('El campo Apellido no puede estar vacío.')
                    }

                    let email = document.querySelector('input#email')
                    if (email.value == '') {
                        errores.push('El campo Email no puede estar vacío.')
                    }

                    let telefono = document.querySelector('input#telefono')
                    if (telefono.value == '') {
                        errores.push('El campo Teléfono no puede estar vacío.')
                    }
                    let textoHTML = "<ul>";
                    for (i = 0; i < errores.length; i++) {
                        textoHTML += "<li>" + errores[i] + "</li>";
                    }
                    textoHTML += "</ul>";
                    if (errores.length > 0) {
                        console.log('Hola', errores);
                        event.preventDefault()
                        Swal.fire({
                            title: 'Error! 😡',
                            html: textoHTML,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        })
                    }

                })
            </script>

</body>

</html>