<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productRecomStyle.css">
    <link rel="stylesheet" href="/css/productList.css">
    <title>Document</title>

</head>
<body>
    <div class="contenidoProductList">

        <div class="contenedorTarjetas">

                <% productos.forEach(producto=> { %>
                    <div class="product"><a href="/producto/<%= producto.id %>">
                            <div class="img-prod arriba">
                                <img src="/images/<%= producto.img %>"
                                alt="<%= producto.titulo %>">
                            </div>
                            <div class="abajo">
                                <div class="descrip-prod">
                                    <p class="nombre texto"><%=producto.titulo%></p>
                                        <p class="cuotas"><%= producto.cuotas %> cuotas sin interés.</p>
                                        <p class="precio texto">$<%=toThousand(producto.precio) %></p>
                                        <% if (producto.descuento>0) { %>
                                            <div class="disc">
                                                <p><%=producto.descuento %>%</p>
                                            </div>
                                            
                                        <% } %>
                                        </div>
                                        <div class="bot-carrito">
                                            <a href="/productCart"><span
                                                    class="boton">Añadir al
                                                    carrito</span></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% }); %>
                                </div>
                            </div>
                        </body>